<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">¡Bienvenido a tu Aplicación de Reportes!</h1>
    <p class="lead">Aquí encontrarás toda la información y los dashboards que necesitas.</p>
    <hr class="my-4">
    <p>Explora las diferentes secciones utilizando el menú de navegación en la parte superior.</p>
    <a class="btn btn-primary btn-lg" routerLink="/reportes" role="button">Ver Reportes</a>
    <a class="btn btn-secondary btn-lg ms-2" routerLink="/dashboards" role="button">Ver Dashboards</a>
  </div>
</div>
