<div class="container-fluid">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-3">
            <span class="navbar-brand mb-0 h5">Buenas tardes {{ nombreUsuario }} </span>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
                <span> Fecha: {{ fechaHoy | date:'dd-MM-yyyy' }} </span>
            </div>
        </nav>

        <div class="col-12" *ngIf="!reporteConsolidadoPagadoVer && !reporteConsolidadoDeudaVer && !reporteConsolidadoFechaVer">
            <div class="row">
                <div class="col-md-12" *ngIf="!archivoCargado">
                    <div class="d-flex justify-content-center align-items-center vh-100">
                        <div class="card shadow-sm border-0" style="max-width: 500px; width: 100%;">
                            <div class="card-body text-center">
                                <p class="card-title mb-4 h2 text-secondary">Cargar archivo Excel</p>
                                <input type="file" class="form-control mb-3" accept=".xls,.xlsx"
                                    (change)="onFileChange($event)" />
                                <button class="btn btn-primary mt-3" (click)="procesarExcel()"
                                    [disabled]="!excelData.length">Procesar</button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12" *ngIf="archivoCargado">
                    <div class="pt-4">
                        <button class="btn btn-link text-danger px-4 py-2 rounded-3 shadow-sm" (click)="retroceder()">
                            <i class="bi bi-arrow-repeat me-2"></i> Cargar otro archivo
                        </button>
                    </div>
    
                    <div>
                        <p class="text-secondary text-center h3">Que reporte deseas ver ahora?</p>
                    </div>
    
                    <div class="col-12">
                        <div class="container py-4">
                            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
                                <div class="col" *ngFor="let boton of botones">
                                    <div class="card h-100 shadow-sm border-0">
                                        <div class="card-body text-center">
                                            <button class="btn btn-outline-primary w-100" (click)="boton.accion()">
                                                {{ boton.titulo }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="reporteConsolidadoPagadoVer">
    <app-grid-oc-facturado [reporteConsolidadoPagado]="reporteConsolidadoPagado"
        (retrocederOpcionReporte)="menuReportes()"></app-grid-oc-facturado>
</div>

<div *ngIf="reporteConsolidadoDeudaVer">
    <app-grid-oc-pendiente [reporteConsolidadoDeuda]="reporteConsolidadoDeuda"
        (retrocederOpcionReporte)="menuReportes()"></app-grid-oc-pendiente>
</div>

<div *ngIf="reporteConsolidadoFechaVer">
    <app-grid-oc-fechas [reporteConsolidadoFecha]="reporteConsolidadoFecha"
    (retrocederOpcionReporte)="menuReportes()"></app-grid-oc-fechas>
</div>


<!-- Modal confirmacion -->
<ng-template #modalConfirmacion let-modal>
    <div class="modal-content border-0 shadow rounded-4">
        <div class="modal-header bg-light border-0 rounded-top-4">
            <div class="d-flex align-items-center gap-2">
                <i class="bi bi-check-circle-fill text-success fs-4"></i>
                <h5 class="modal-title mb-0 fw-semibold">¡Archivo cargado!</h5>
            </div>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body text-center fs-6 text-muted">
            El archivo se ha cargado correctamente con {{ reporteConsolidado.length }} registros y ya está listo para su
            revisión.
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
            <button type="button" class="btn btn-outline-success px-4" (click)="modal.close()">Aceptar</button>
        </div>
    </div>
</ng-template>