/* You can add global styles to this file, and also import other style files */
.label-filtro{
    margin-bottom: 5px;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    width: 90%;
  }

  .filtro-input {
    height: 32px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #DADADACC;
    background-color: #FFFFFF;
    color: #6E6C6D;
    padding-left: 8px;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
  }

  .filtro-input:focus{
    border-color: #F2910C; 
              background-color: #ffffff; 
              color: #333; 
              outline: none;
  }
  .filtro-input:hover {
    border-color: #F2910C;
    background-color: #ffffff;
  }